In [1]:
talha = "its a string"
print(talha)

its a string

In [6]:
#embedding values in strings 

age = 21
intro = "i am %a years old"
print(intro %age)

i am 21 years old

In [9]:
nums = "what did the number %a said to %a ! nice belt"
print(nums % (0,8))

what did the number 0 said to 8 ! nice belt

In [13]:
mul = "a"*2
print(mul)

aa

In [15]:
print(10*" karachi")

 karachi karachi karachi karachi karachi karachi karachi karachi karachi karachi

In [18]:
#list 

chai = ["water" , "lipton" , "milk" ,"gas" , "dish"]

print(chai[2])

print(chai[0:2])

milk
['water', 'lipton']

In [21]:
#adding list to a list 

number = [1,2,3,4]
name = ['owais', 'naseer', 'talha']

combine = [number , name ]

print(combine)

[[1, 2, 3, 4], ['owais', 'naseer', 'talha']]

In [22]:
#adding items to the list 

number.append(5)
print(number)

[1, 2, 3, 4, 5]

In [30]:
#remove items to the list 

del number[0:]
print(number)

[]

In [31]:
print(number + name) #???

['owais', 'naseer', 'talha']

In [32]:
#adding lists

list1 = [1, 2, 3, 4]
list2 = ['I', 'ate', 'chocolate', 'and', 'I', 'want', 'more']
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 'I', 'ate', 'chocolate', 'and', 'I', 'want', 'more']

In [33]:
#division and multiplication of lists gives error

In [35]:
#dict
favorite_sports = ['Ali, Football', 'Omer, Basketball', 'Osman, Baseball',
'Abu Bkar, Netball', 'Fatima, Badminton', 'Faizan, Rugby']

print(favorite_sports)

['Ali, Football', 'Omer, Basketball', 'Osman, Baseball', 'Abu Bkar, Netball', 'Fatima, Badminton', 'Faizan, Rugby']

In [36]:

favorite_sports = {'Ali' : 'Football',
'Omer' : 'Basketball',
'Osman' : 'Baseball',
'Abu Bakr' : 'Netball',
'Fatima' : 'Badminton',
'Faizan' : 'Rugby'}

print (favorite_sports)

{'Ali': 'Football', 'Omer': 'Basketball', 'Osman': 'Baseball', 'Abu Bakr': 'Netball', 'Fatima': 'Badminton', 'Faizan': 'Rugby'}

In [39]:
del favorite_sports["Omer"]

print (favorite_sports)

{'Ali': 'Football', 'Osman': 'Baseball', 'Abu Bakr': 'Netball', 'Fatima': 'Badminton', 'Faizan': 'Rugby'}

conditional

In [42]:
age = 19
if age>18:
    print("he is an adult")

he is an adult

In [ ]:
# age=’10’
if age == 10:
print("What's the best way to speak to a monster?")
print("From as far away as possible!")

# loops

In [47]:
print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [60]:
def greet(fname, age):
    name = fname 
    age = age
    message = "hello my name is %s and i am %s years old"
    print(message %(name,age))

In [61]:
greet("talha",21)

hello my name is talha and i am 21 years old

# # modules

In [62]:
import time

In [64]:
#The asctime() function converts time, stored as a structure pointed to by time, to a character string. You can obtain the time value from a call to the gmtime() , gmtime64() , localtime() , or localtime64() function.

print(time.asctime())

Sat Jan  7 11:26:09 2023

# objects and classes

In [71]:
#declare classes 

class vehicles:
    def move(self):
        pass
class cars(vehicles):
    pass
class bikes(vehicles):
    pass
class suv(cars):
    pass
class cruiser_bikes(bikes):
    pass

In [68]:
#adding objects to classes 
sportage = suv()

In [69]:
class this_is_a_class:
    def i_am_a_func_inside_class():
        print("hey i am function inside the class ")